.Error{
    background-color: aqua;
    color: black;
    text-align: center;
}




/* react r compont k style.extrnl css r problm-2 to clssnm r nm jodi sm hoi h1 r modhe ar oGulo 2 to css file a thkbe
css impot ar por je niche ache tar ta apply hoi jbe style ai jonno akta compont r jonno css r module creat kebpo */